# Dictionary

## Data Type 

str   : Ordered,  Immutable,     Duplicates are alloowed ,   "" or ''
list  : ordered,  Mutabale,      Duplicates are allowed,     [],   separated by ,
tuple : Ordered,  Immutable,     Duplicates are allowed,     (),   Separated by ,
set   : Unordered, Mutable,      Duplicates are not allowed   {}, separated by ,
frozenset : Unordred, immutable, Duplicates are not allowed   frozenset({}), separated by ,

dict : ordered (python >= 3.7), Mutable,  Duplicates allowed data in values not allowed in key, {}, 
    separated by,
    
dict ={key:value}

In [ ]:
Synatx:

    
d1 = {key1: value1, key2:value2....... key_n:value_n}

1. It is collection of key and value pair.
2. we can not access item/ value by using index , we have use key.
3. Duplicates key are not allowed but duplicate values can be inserted
4. dict is comma separated
5. {} represented


orderd >>> python >= 3.7
unordered >>> python < 3.7 (3.6,3.5,3.4)

In [ ]:
key ---->> Immutable data type (int,float,str,tuple,frozenset)
Values ----->> Any data Type (int,float,str,list,tuple,set,frozenset,dict,etc)

In [ ]:
dict1 = {"a":200}
print(dict1)
print(type(dict1))

{'a': 200}
<class 'dict'>

In [ ]:
dict1 = {"a":200.50}
print(dict1)
print(type(dict1))

{'a': 200.5}
<class 'dict'>

In [ ]:
dict1 = {"a":"python"}
print(dict1)
print(type(dict1))

{'a': 'python'}
<class 'dict'>

In [ ]:
dict1 = {"a":["python",5]}
print(dict1)
print(type(dict1))

{'a': ['python', 5]}
<class 'dict'>

In [ ]:
dict1 = {"a":("python",5)}
print(dict1)
print(type(dict1))

{'a': ('python', 5)}
<class 'dict'>

In [ ]:
dict1 = {"a":("python",5),2:[6,9.5,"data"],(5,8):"tuple data"}
print(dict1)
print(type(dict1))
print(len(dict1))

{'a': ('python', 5), 2: [6, 9.5, 'data'], (5, 8): 'tuple data'}
<class 'dict'>
3

In [ ]:
dict1 = {"a":("python",5),2:[6,9.5,"data"],frozenset({5,8}):"tuple data"}
print(dict1)
print(type(dict1))
print(len(dict1))

{'a': ('python', 5), 2: [6, 9.5, 'data'], frozenset({8, 5}): 'tuple data'}
<class 'dict'>
3

In [ ]:
dict1 = {"a":("python",5),2:[6,9.5,"data"],[5,8]:"tuple data"}
print(dict1)
print(type(dict1))
print(len(dict1))

TypeError: unhashable type: 'list'

In [ ]:
dict1 = {}
print(dict1)
print(type(dict1))

{}
<class 'dict'>

In [ ]:
dict1 = {"Name":"Keshav","Age":23,"Marks":12,"place":'pune'}
print(dict1)

# list1 = ["keshav",23,12,"pune"]

{'Name': 'Keshav', 'Age': 23, 'Marks': 12, 'place': 'pune'}

In [ ]:
dict1 = {"Name":"Keshav","Age":23,"Marks":12,"place":'pune',"Name":"Prashant"}
print(dict1)

# list1 = ["keshav",23,12,"pune"]

{'Name': 'Prashant', 'Age': 23, 'Marks': 12, 'place': 'pune'}

In [ ]:
dict1 = {"Name":"Keshav","Age":23,"Marks":12,"place":'pune',"Name":"Prashant","Name":"Sachin"}
print(dict1)

# list1 = ["keshav",23,12,"pune"]

{'Name': 'Sachin', 'Age': 23, 'Marks': 12, 'place': 'pune'}

In [ ]:
dict1 = {"Name":"Keshav","Age":23,"Marks":12,"place":'pune',"Friend Name":"Keshav","Name1":"Keshav"}
print(dict1)

# list1 = ["keshav",23,12,"pune"]

{'Name': 'Keshav', 'Age': 23, 'Marks': 12, 'place': 'pune', 'Friend Name': 'Keshav', 'Name1': 'Keshav'}

## Access Dictionary Items

Index --->> not able to acces using index or slicing

In [ ]:
synatx:
    
dict_var[key_name]

In [ ]:
dict1 = {"Name":"Keshav","Age":23,"Marks":12,"place":'pune',"Friend Name":"Keshav","Name1":"Keshav"}
print(dict1["Name"])

Keshav

In [ ]:
print(dict1["Age"])

23

In [ ]:
print(dict1["place"])

pune

In [ ]:
employee_data ={"emp_name":"Prashant",
               "Company name": "Meta",
               "Salary":60000,
               "designation":"data scientist"}

In [ ]:
employee_data['emp_name']

'Prashant'

In [ ]:
employee_data ={"M0010":
                {"emp_name":"Prashant",
               "Company name": "Meta",
               "Salary":60000,
               "designation":"data scientist"},
                "M0011":
                {"emp_name":"Alok",
               "Company name": "Meta",
               "Salary":60000,
               "designation":"data scientist"}
               }
employee_data["M0011"]

{'emp_name': 'Alok',
 'Company name': 'Meta',
 'Salary': 60000,
 'designation': 'data scientist'}

## 1. get()

In [ ]:
synatax:

dict_var.get(key_name)

In [ ]:
employee_data ={"emp_name":"Prashant",
               "Company name": "Meta",
               "Salary":60000,
               "designation":"data scientist"}
employee_data.get('Salary')

60000

In [ ]:
employee_data.get('designation')

'data scientist'

In [ ]:
print(employee_data.get("sal"))

None

## Access item by using loop

In [ ]:
## 1 keys()

retuen all keys values

Synatx:

dict_name.keys()

In [ ]:
employee_data ={"emp_name":"Prashant",
               "Company name": "Meta",
               "Salary":60000,
               "designation":"data scientist"}
print(employee_data.keys())

dict_keys(['emp_name', 'Company name', 'Salary', 'designation'])

In [ ]:
employee_data ={"emp_name":"Prashant",
               "Company name": "Meta",
               "Salary":60000,
               "designation":"data scientist"}
var = employee_data.keys()

print(type(var))

print(var)

<class 'dict_keys'>
dict_keys(['emp_name', 'Company name', 'Salary', 'designation'])

In [ ]:
## 2. values()

It will return all values of dictionary

In [ ]:
employee_data ={"emp_name":"Prashant",
               "Company name": "Meta",
               "Salary":60000,
               "designation":"data scientist"}
var = employee_data.values()

print(type(var))

print(var)

<class 'dict_values'>
dict_values(['Prashant', 'Meta', 60000, 'data scientist'])

In [ ]:
employee_data ={"emp_name":"Prashant",
               "Company name": "Meta",
               "Salary":60000,
               "designation":"data scientist"}
print(employee_data.values())

# print(type(var))

# print(var)

dict_values(['Prashant', 'Meta', 60000, 'data scientist'])

In [ ]:
### 3. items()

It will return key and value

Syntax: 
    
dict_var.items()

In [ ]:
dict1 = {"key":"value"}

dict1.item() # (key,value)
dict1.keys() # (key)
dict1.values() # (value)

In [ ]:
employee_data ={"emp_name":"Prashant",
               "Company name": "Meta",
               "Salary":60000,
               "designation":"data scientist"}

print(employee_data.keys()) ## ("emp_name","Company name","Salary","designation")

print(employee_data.values()) ## ("Prashnat","Meta",60000,"data scienstist")

print(employee_data.items()) ## (("emp_name","prashant"),("company name","Meta")....)

var = employee_data.items()

print(type(var))

print(var)

dict_keys(['emp_name', 'Company name', 'Salary', 'designation'])
dict_values(['Prashant', 'Meta', 60000, 'data scientist'])
dict_items([('emp_name', 'Prashant'), ('Company name', 'Meta'), ('Salary', 60000), ('designation', 'data scientist')])
<class 'dict_items'>
dict_items([('emp_name', 'Prashant'), ('Company name', 'Meta'), ('Salary', 60000), ('designation', 'data scientist')])

### Access values using for loop

In [ ]:
for var in employee_data.keys():
    print(f"key is == {var}")

key is == emp_name
key is == Company name
key is == Salary
key is == designation

In [ ]:
for var in employee_data.items():
    print(f"Value is == {var}")

Value is == ('emp_name', 'Prashant')
Value is == ('Company name', 'Meta')
Value is == ('Salary', 60000)
Value is == ('designation', 'data scientist')

In [ ]:
for var in employee_data.values():
    print(f"Value is == {var}")

Value is == Prashant
Value is == Meta
Value is == 60000
Value is == data scientist

In [ ]:
employee_data ={"emp_name":"Prashant",
               "Company name": "Meta",
               "Salary":60000,
               "designation":"data scientist"}

print(employee_data['emp_name'])
print(employee_data.get('emp_name'))

Prashant
Prashant

In [ ]:
employee_data ={"emp_name":"Prashant",
               "Company name": "Meta",
               "Salary":60000,
               "designation":"data scientist"}

var = employee_data['Company name']

var1 = "facebook"

print(var+var1)

print(type(var))

Metafacebook
<class 'str'>

In [ ]:
employee_data ={"emp_name":"Prashant",
               "Company name": "Meta",
               "Salary":60000,
               "designation":"data scientist"}

var = employee_data.values()

print(var)

print(type(var))


var[0]

dict_values(['Prashant', 'Meta', 60000, 'data scientist'])
<class 'dict_values'>

TypeError: 'dict_values' object is not subscriptable

In [ ]:
for var in employee_data.values():
    if var == 'Prashant':
        print(f"Value is == {var}")

Value is == Prashant

In [ ]:
d1 = {"sal1":10000,"sal2":20000}
total = 0
for i in d1.values():
    total = total + i
print(total)

30000

In [ ]:
for i in enumerate(d1):
    print(i)
    print(type(i))

(0, 'sal1')
<class 'tuple'>
(1, 'sal2')
<class 'tuple'>

In [ ]:
d1.keys()

dict_keys(['sal1', 'sal2'])

In [ ]:
l1 = [1,2,3,4]
for index,data in enumerate(l1):
    print(index)
    print(type(index))
    print(data)
    print(type(data))

0
<class 'int'>
1
<class 'int'>
1
<class 'int'>
2
<class 'int'>
2
<class 'int'>
3
<class 'int'>
3
<class 'int'>
4
<class 'int'>

In [ ]:
print(d1)

{'sal1': 10000, 'sal2': 20000}

### ADD item in Dictionary

In [ ]:
marks ={"A":60,
        "B":70,
        "C":80
       }

### D : 75

In [ ]:
Synatax:
    
dict_var['key_value'] = Value

In [ ]:
marks ={"A":60,
        "B":70,
        "C":80
       }

print(marks)

### D : 75

marks['D'] = 75

print(marks)

{'A': 60, 'B': 70, 'C': 80}
{'A': 60, 'B': 70, 'C': 80, 'D': 75}

In [ ]:
employee_data ={"emp_name":"Prashant",
               "Company name": "Meta",
               "Salary":60000,
               "designation":"data scientist"}

### add place and prev_employer

employee_data['place'] = "Pune"

print(employee_data)

{'emp_name': 'Prashant', 'Company name': 'Meta', 'Salary': 60000, 'designation': 'data scientist', 'place': 'Pune'}

In [ ]:
employee_data ={"emp_name":"Prashant",
               "Company name": "Meta",
               "Salary":60000,
               "designation":"data scientist"}

### add place and prev_employer

employee_data['place'] = "Pune"
employee_data['prev_employer'] = "infosys"

print(employee_data)

{'emp_name': 'Prashant', 'Company name': 'Meta', 'Salary': 60000, 'designation': 'data scientist', 'place': 'Pune', 'prev_employer': 'infosys'}

In [ ]:
employee_data ={"emp_name":"Prashant",
               "Company name": "Meta",
               "Salary":60000,
               "designation":"data scientist"}

### add place and prev_employer

employee_data['Salary'] = 80000
employee_data['prev_employer'] = "infosys"

print(employee_data) 


# {'emp_name': 'Prashant', 'Company name': 'Meta', 'Salary': 80000, 
# 'designation': 'data scientist', 'prev_employer': 'infosys'}

{'emp_name': 'Prashant', 'Company name': 'Meta', 'Salary': 80000, 'designation': 'data scientist', 'prev_employer': 'infosys'}

In [ ]:
emp = {'emp_name': 'Prashant', 
       'Company name': 'Meta', 
       'Salary': 80000, 
       'designation': 'data scientist', 
       'prev_employer': 'infosys'
      }
print(emp)
emp['designation'] = "AI eng"

print(emp)

{'emp_name': 'Prashant', 'Company name': 'Meta', 'Salary': 80000, 'designation': 'data scientist', 'prev_employer': 'infosys'}
{'emp_name': 'Prashant', 'Company name': 'Meta', 'Salary': 80000, 'designation': 'AI eng', 'prev_employer': 'infosys'}

### update()

In [ ]:
update method will update existing dictionary 

Syntax:

dict1_var.update(dict2_var)

In [ ]:
emp = {'emp_name': 'Prashant', 
       'Company name': 'Meta', 
       'Salary': 80000, 
       'designation': 'data scientist', 
       'prev_employer': 'infosys'
      }

other ={ "company location": "Mumbai",
        "Age" : 25,
        "emp Id": "M0010"
    }
print(emp)
print(other)

emp.update(other)
print(f"Update={emp}")
print(other)

{'emp_name': 'Prashant', 'Company name': 'Meta', 'Salary': 80000, 'designation': 'data scientist', 'prev_employer': 'infosys'}
{'company location': 'Mumbai', 'Age': 25, 'emp Id': 'M0010'}
Update={'emp_name': 'Prashant', 'Company name': 'Meta', 'Salary': 80000, 'designation': 'data scientist', 'prev_employer': 'infosys', 'company location': 'Mumbai', 'Age': 25, 'emp Id': 'M0010'}
{'company location': 'Mumbai', 'Age': 25, 'emp Id': 'M0010'}

In [ ]:
emp = {'emp_name': 'Prashant', 
       'Company name': 'Meta', 
       'Salary': 80000, 
       'designation': 'data scientist', 
       'prev_employer': 'infosys'
      }

other ={ "company location": "Mumbai",
        "Age" : 25,
        "emp Id": "M0010"
    }
print(len(emp))
print(len(other))

emp.update(other)
print(f"Update={len(emp)}")
print(len(other))

5
3
Update=8
3

In [ ]:
emp = {'emp_name': 'Prashant', 
       'Company name': 'Meta', 
       'Salary': 80000, 
       'designation': 'data scientist', 
       'prev_employer': 'infosys'
      }

other ={ "company location": "Mumbai",
        "Age" : 25,
        "emp Id": "M0010",
        'designation': 'ml eng'
    }
print(len(emp))
print(len(other))

emp.update(other)
print(f"Update={len(emp)}")
print(emp)
print(len(other))

5
4
Update=8
{'emp_name': 'Prashant', 'Company name': 'Meta', 'Salary': 80000, 'designation': 'ml eng', 'prev_employer': 'infosys', 'company location': 'Mumbai', 'Age': 25, 'emp Id': 'M0010'}
4

In [ ]:
emp = {'emp_name': 'Prashant', 
       'Company name': 'Meta', 
       'Salary': 80000, 
       'designation': 'data scientist', 
       'prev_employer': 'infosys'
      }

other ={ "company location": "Mumbai",
        "Age" : 25,
        "emp Id": "M0010",
        'designation': 'ml eng'
    }


two = {"test":"test1"}


print(len(emp))
print(len(other))

emp.update(other)
emp.update(two)
print(f"Update={len(emp)}")
print(emp)
print(len(other))

5
4
Update=9
{'emp_name': 'Prashant', 'Company name': 'Meta', 'Salary': 80000, 'designation': 'ml eng', 'prev_employer': 'infosys', 'company location': 'Mumbai', 'Age': 25, 'emp Id': 'M0010', 'test': 'test1'}
4

In [ ]:
emp = {'emp_name': 'Prashant', 
       'Company name': 'Meta', 
       'Salary': 80000, 
       'designation': 'data scientist', 
       'prev_employer': 'infosys'
      }

other ={ "company location": "Mumbai",
        "Age" : 25,
        "emp Id": "M0010",
        'designation': 'ml eng'
    }


two = {"test":"test1"}


print(len(emp))
print(len(other))

emp.update(other.update(two))
# emp.update(two)
print(f"Update={len(emp)}")
print(emp)
print(len(other))

5
4

TypeError: 'NoneType' object is not iterable

### Delete Item from dictionary

In [ ]:
1. pop
2. popitem
3. clear

keyword 
4. del

In [ ]:
## pop 

Synatax:
dict_var.pop(key)

In [ ]:
emp = {'emp_name': 'Prashant', 
       'Company name': 'Meta', 
       'Salary': 80000, 
       'designation': 'data scientist', 
       'prev_employer': 'infosys'
      }
emp.pop('prev_employer')



print(emp)

{'emp_name': 'Prashant', 'Company name': 'Meta', 'Salary': 80000, 'designation': 'data scientist'}

In [ ]:
emp = {'emp_name': 'Prashant', 
       'Company name': 'Meta', 
       'Salary': 80000, 
       'designation': 'data scientist', 
       'prev_employer': 'infosys'
      }
emp.pop('prev_employer')

emp['PREV EMP'] = "TCS"

print(emp)

{'emp_name': 'Prashant', 'Company name': 'Meta', 'Salary': 80000, 'designation': 'data scientist', 'PREV EMP': 'TCS'}